.cover {
  position: relative;
  width: 1184px;
  height: 740px;
  margin: auto;
  padding-bottom: 92px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 1024px;
    max-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 100%;
    max-height: 480px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 100%;
    max-height: 200px;
    padding-bottom: 64px;
  }
}