.cover__overlay {
  display: flex;
  flex-direction: column;
  }
  
.cover__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.3);
  transition: .3s ease;
}
  
.cover__overlay:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(42, 44, 47,.8);
  transition: .3s ease;
}
